*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.note{
    height: 200px ;
    width: 300px;
    margin: 50px 10px 10px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: aqua;
    border-radius: 8px;
    box-shadow: 5px 10px 10px #888888;
}
